Source: node-hashish
Section: web
Priority: extra
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Bastien Roucariès <roucaries.bastien+debian@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , dh-buildinfo
 , nodejs
Standards-Version: 3.9.6
Homepage: https://github.com/substack/node-hashish/
Vcs-Git: git://anonscm.debian.org/collab-maint/node-hashish.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/node-hashish;a=summary

Package: node-hashish
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-traverse (>=0.2.4)
Description: maniuplate hash data structures in Node.js
 Hashish is a Node.js library for manipulating hash data structures. It is
 distilled from the finest that ruby, perl, and haskell have to offer by way of
 hash/map interfaces.
 .
 Node.js is an event-based server-side JavaScript engine.
